<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-5">
        <form action="/createtask" method="post">
        <div class="w-full text-white">
            <input class="w-full h-8 pl-3 mb-2 bg-zinc-800 rounded-sm outline-none" type="text" placeholder="Title goes here.." name="title" required>
            <textarea class="w-full max-h-20 pl-3 mb-2 bg-zinc-800 rounded-sm outline-none pt-2" rows="10" placeholder="Add more details" name="details"></textarea>
            <button class="w-36 h-8 bg-blue-900 rounded-sm">Add Task</button>
        </div>
        <div class="w-full mt-10 flex flex-wrap">
            <% if(files.length > 0){ %>
                <% files.forEach(function(e){ %>
                    <div class="h-20 w-48 bg-zinc-800 rounded-sm text-white mr-10 mb-10">
                        <h1 class="px-3 pt-2 text-2xl text-ellipsis overflow-hidden"><%= e %></h1>
                        <a class="px-3 pt-3 text-blue-900">read more...</a>
                    </div>
                    <% }) %>`   
            <% }else{ %>
                <div class="w-full noTasks text-white mt-10 flex justify-center">
                    <h1 class="text-zinc-500 text-sm">No tasks yet</h1>
                </div>
            <% } %>
            </div>
        </form>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>